.inline-block{
    display: inline-block;
    vertical-align: top;
}
.logo{
    width: 23%;
    padding: 1%;
    text-align: left;
    /*background-color:lightcoral;*/
}
nav{
   width: 72.7%;
   padding: 1%; 
   font-family: 'Montserrat', sans-serif;
   /*background-color: darkgoldenrod;*/
}
nav ul{
    width: 30%;
    margin-left: auto;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    /*background-color: greenyellow;*/
}
nav li {
    padding: 10px;
}
nav ul li:hover {
    cursor: pointer;
}
/* Hamburger menu styles */
.hamburger-menu {
    display: none; /* Hide by default */
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
}

/* Menu styles */
.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.menu li {
    padding: 10px;
    cursor: pointer;
}
.heroImg{ 
    height: 400px;
    padding: 25px;
    background-image: url("../images/Hero-Image.png");
    background-size: cover;
    /*align-items: end;*/
    /*background-color: aqua;*/
}
.resume {
    font-family: 'Montserrat', sans-serif;
}
.content{
    /*float: right;*/
    position: relative;
    left: 20px;
    margin: 0 auto;
    padding: 3%;
    /*background-color: darkorange;*/
    width: 500px;
    height: 330px;
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    transform: translateX(40%);
}
.heroImg h3 {
    font-family: 'Bayon', sans-serif;
    color: #59958E;
    font-size: x-large;
    font-weight: 500;
    font-stretch: ultra-expanded;
    text-align: right;
}
.resume,
.myWork button {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    color: #9F7642;
    font-weight: bolder;
    padding: 10px 10px;
    border: 2px solid #9F7642;
    border-radius: 5px;
    cursor: pointer;
}
.mySkills{
    /*background-color:#59958E;*/
}
.mySkills h1 {
    font-family: 'Montserrat', sans-serif;
    /*background-color: crimson;*/
}
.flexContainer{
    display: flex;
    justify-content: space-around;
    gap: 1.5rem;
    /*background-color: pink;*/
}
.flexContainer > div{
    flex-basis: 33%;
    margin: 0 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: cadetblue;
    color: whitesmoke;
}
.myWork h1{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    /*background-color: darkgoldenrod;*/
}
.workGrid{
    display: flex;
    justify-content: space-around;
    /*display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    background-color: coral;*/
}
.workGrid div {
    flex-basis: 50%;
    margin: 0 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    color: black;
    font-family: 'Montserrat', sans-serif;
    /*background-color: cadetblue;
    padding: 2%;
    background-color: whitesmoke;*/
}
/*.workGrid > div:nth-child(1) {
    grid-area: 1 / 2 / span 1 / span 1;
    background-color: blue;
}
.workGrid > div:nth-child(2) {
    grid-area: 1 / 3 / span 1 / span 2;
    background-color: aquamarine;
}
.workGrid > div:nth-child(3) {
    grid-area: 2 / 2 / span 1 / span 1;
    background-color: yellow;
}
.workGrid > div:nth-child(4) {
    grid-area: 2 / 3 / span 1 / span 2;
    background-color: green;
}
.workGrid h1 {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    background-color: crimson;
}
.workGrid h4{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}
.workGrid p{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}
.workGrid button{
    width: 100px;
    font-family: 'Montserrat', sans-serif;
}*/
.myWork h3{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
footer{
    background-color: #373738;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    }
footer ul{
    display: inline-block;
    vertical-align: top;
    font-family: 'Montserrat', sans-serif;
    /*background-color: darkseagreen;*/
}
footer li{
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width: 600px){
    .flexContainer{
        display: flex;
        flex-direction: column;
    }
    .flexContainer > div{
        width: 100%;
    }
    .workGrid{
        display: flex;
        flex-direction: column;
    }
    .workGrid div {
        width: 100%;
    }
}
@media only screen and (min-width: 601px) and (max-width: 1024px){
    .flexContainer{
        display: flex;
        flex-direction: column;
    }
    .flexContainer > div{
        width: auto;
    }
    .workGrid{
        display: flex;
        flex-direction: column;
    }
    .workGrid div {
        width: auto;
    }
}